cmd_client/src/no/ntnu/medisin/egenvar/xml/Authenticate_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://no.ntnu.medisin.webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://no.ntnu.medisin.webservice/" name="Authenticate_service">
<types>
<xsd:schema>
<xsd:import namespace="http://no.ntnu.medisin.webservice/" schemaLocation="http://ans-180230.stolav.ntnu.no:8085/eGenVar_WebService/Authenticate_service?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="backup">
<part name="parameters" element="tns:backup"/>
</message>
<message name="backupResponse">
<part name="parameters" element="tns:backupResponse"/>
</message>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="Encript">
<part name="parameters" element="tns:Encript"/>
</message>
<message name="EncriptResponse">
<part name="parameters" element="tns:EncriptResponse"/>
</message>
<message name="Authenticate">
<part name="parameters" element="tns:Authenticate"/>
</message>
<message name="AuthenticateResponse">
<part name="parameters" element="tns:AuthenticateResponse"/>
</message>
<message name="tag">
<part name="parameters" element="tns:tag"/>
</message>
<message name="tagResponse">
<part name="parameters" element="tns:tagResponse"/>
</message>
<message name="getforQuery">
<part name="parameters" element="tns:getforQuery"/>
</message>
<message name="getforQueryResponse">
<part name="parameters" element="tns:getforQueryResponse"/>
</message>
<message name="getDoesitExist">
<part name="parameters" element="tns:getDoesitExist"/>
</message>
<message name="getDoesitExistResponse">
<part name="parameters" element="tns:getDoesitExistResponse"/>
</message>
<message name="listFromTable">
<part name="parameters" element="tns:listFromTable"/>
</message>
<message name="listFromTableResponse">
<part name="parameters" element="tns:listFromTableResponse"/>
</message>
<message name="listFromTableFrosubqury">
<part name="parameters" element="tns:listFromTableFrosubqury"/>
</message>
<message name="listFromTableFrosubquryResponse">
<part name="parameters" element="tns:listFromTableFrosubquryResponse"/>
</message>
<message name="getLatestVersion">
<part name="parameters" element="tns:getLatestVersion"/>
</message>
<message name="getLatestVersionResponse">
<part name="parameters" element="tns:getLatestVersionResponse"/>
</message>
<message name="getUpdateLink">
<part name="parameters" element="tns:getUpdateLink"/>
</message>
<message name="getUpdateLinkResponse">
<part name="parameters" element="tns:getUpdateLinkResponse"/>
</message>
<message name="deleteRecord">
<part name="parameters" element="tns:deleteRecord"/>
</message>
<message name="deleteRecordResponse">
<part name="parameters" element="tns:deleteRecordResponse"/>
</message>
<message name="getFileDetials4download">
<part name="parameters" element="tns:getFileDetials4download"/>
</message>
<message name="getFileDetials4downloadResponse">
<part name="parameters" element="tns:getFileDetials4downloadResponse"/>
</message>
<message name="addRelationships">
<part name="parameters" element="tns:addRelationships"/>
</message>
<message name="addRelationshipsResponse">
<part name="parameters" element="tns:addRelationshipsResponse"/>
</message>
<message name="check_authentication">
<part name="parameters" element="tns:check_authentication"/>
</message>
<message name="check_authenticationResponse">
<part name="parameters" element="tns:check_authenticationResponse"/>
</message>
<message name="resetauthnticationkey">
<part name="parameters" element="tns:resetauthnticationkey"/>
</message>
<message name="resetauthnticationkeyResponse">
<part name="parameters" element="tns:resetauthnticationkeyResponse"/>
</message>
<message name="getfileTypeDescription">
<part name="parameters" element="tns:getfileTypeDescription"/>
</message>
<message name="getfileTypeDescriptionResponse">
<part name="parameters" element="tns:getfileTypeDescriptionResponse"/>
</message>
<message name="submitError">
<part name="parameters" element="tns:submitError"/>
</message>
<message name="submitErrorResponse">
<part name="parameters" element="tns:submitErrorResponse"/>
</message>
<message name="getParametersForPrepare">
<part name="parameters" element="tns:getParametersForPrepare"/>
</message>
<message name="getParametersForPrepareResponse">
<part name="parameters" element="tns:getParametersForPrepareResponse"/>
</message>
<message name="setUsingTemplate">
<part name="parameters" element="tns:setUsingTemplate"/>
</message>
<message name="setUsingTemplateResponse">
<part name="parameters" element="tns:setUsingTemplateResponse"/>
</message>
<message name="relate">
<part name="parameters" element="tns:relate"/>
</message>
<message name="relateResponse">
<part name="parameters" element="tns:relateResponse"/>
</message>
<message name="getTableRelationship">
<part name="parameters" element="tns:getTableRelationship"/>
</message>
<message name="getTableRelationshipResponse">
<part name="parameters" element="tns:getTableRelationshipResponse"/>
</message>
<message name="advancedQuaryHandler">
<part name="parameters" element="tns:advancedQuaryHandler"/>
</message>
<message name="advancedQuaryHandlerResponse">
<part name="parameters" element="tns:advancedQuaryHandlerResponse"/>
</message>
<message name="getErrors">
<part name="parameters" element="tns:getErrors"/>
</message>
<message name="getErrorsResponse">
<part name="parameters" element="tns:getErrorsResponse"/>
</message>
<message name="test2">
<part name="parameters" element="tns:test2"/>
</message>
<message name="test2Response">
<part name="parameters" element="tns:test2Response"/>
</message>
<message name="populateTables">
<part name="parameters" element="tns:populateTables"/>
</message>
<message name="populateTablesResponse">
<part name="parameters" element="tns:populateTablesResponse"/>
</message>
<message name="getUniqueKeys">
<part name="parameters" element="tns:getUniqueKeys"/>
</message>
<message name="getUniqueKeysResponse">
<part name="parameters" element="tns:getUniqueKeysResponse"/>
</message>
<message name="createTagSource">
<part name="parameters" element="tns:createTagSource"/>
</message>
<message name="createTagSourceResponse">
<part name="parameters" element="tns:createTagSourceResponse"/>
</message>
<message name="createuseraccount">
<part name="parameters" element="tns:createuseraccount"/>
</message>
<message name="createuseraccountResponse">
<part name="parameters" element="tns:createuseraccountResponse"/>
</message>
<message name="get_servername">
<part name="parameters" element="tns:get_servername"/>
</message>
<message name="get_servernameResponse">
<part name="parameters" element="tns:get_servernameResponse"/>
</message>
<message name="reset_tags2host">
<part name="parameters" element="tns:reset_tags2host"/>
</message>
<message name="reset_tags2hostResponse">
<part name="parameters" element="tns:reset_tags2hostResponse"/>
</message>
<portType name="Authenticate_service">
<operation name="add">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/addRequest" message="tns:add"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/addResponse" message="tns:addResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/searchRequest" message="tns:search"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/updateRequest" message="tns:update"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="backup">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/backupRequest" message="tns:backup"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/backupResponse" message="tns:backupResponse"/>
</operation>
<operation name="test">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/testRequest" message="tns:test"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/testResponse" message="tns:testResponse"/>
</operation>
<operation name="Encript">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/EncriptRequest" message="tns:Encript"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/EncriptResponse" message="tns:EncriptResponse"/>
</operation>
<operation name="Authenticate">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/AuthenticateRequest" message="tns:Authenticate"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/AuthenticateResponse" message="tns:AuthenticateResponse"/>
</operation>
<operation name="tag">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/tagRequest" message="tns:tag"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/tagResponse" message="tns:tagResponse"/>
</operation>
<operation name="getforQuery">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getforQueryRequest" message="tns:getforQuery"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getforQueryResponse" message="tns:getforQueryResponse"/>
</operation>
<operation name="getDoesitExist">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getDoesitExistRequest" message="tns:getDoesitExist"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getDoesitExistResponse" message="tns:getDoesitExistResponse"/>
</operation>
<operation name="listFromTable">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/listFromTableRequest" message="tns:listFromTable"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/listFromTableResponse" message="tns:listFromTableResponse"/>
</operation>
<operation name="listFromTableFrosubqury">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/listFromTableFrosubquryRequest" message="tns:listFromTableFrosubqury"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/listFromTableFrosubquryResponse" message="tns:listFromTableFrosubquryResponse"/>
</operation>
<operation name="getLatestVersion">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getLatestVersionRequest" message="tns:getLatestVersion"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getLatestVersionResponse" message="tns:getLatestVersionResponse"/>
</operation>
<operation name="getUpdateLink">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getUpdateLinkRequest" message="tns:getUpdateLink"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getUpdateLinkResponse" message="tns:getUpdateLinkResponse"/>
</operation>
<operation name="deleteRecord">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/deleteRecordRequest" message="tns:deleteRecord"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/deleteRecordResponse" message="tns:deleteRecordResponse"/>
</operation>
<operation name="getFileDetials4download">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getFileDetials4downloadRequest" message="tns:getFileDetials4download"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getFileDetials4downloadResponse" message="tns:getFileDetials4downloadResponse"/>
</operation>
<operation name="addRelationships">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/addRelationshipsRequest" message="tns:addRelationships"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/addRelationshipsResponse" message="tns:addRelationshipsResponse"/>
</operation>
<operation name="check_authentication">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/check_authenticationRequest" message="tns:check_authentication"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/check_authenticationResponse" message="tns:check_authenticationResponse"/>
</operation>
<operation name="resetauthnticationkey">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/resetauthnticationkeyRequest" message="tns:resetauthnticationkey"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/resetauthnticationkeyResponse" message="tns:resetauthnticationkeyResponse"/>
</operation>
<operation name="getfileTypeDescription">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getfileTypeDescriptionRequest" message="tns:getfileTypeDescription"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getfileTypeDescriptionResponse" message="tns:getfileTypeDescriptionResponse"/>
</operation>
<operation name="submitError">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/submitErrorRequest" message="tns:submitError"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/submitErrorResponse" message="tns:submitErrorResponse"/>
</operation>
<operation name="getParametersForPrepare">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getParametersForPrepareRequest" message="tns:getParametersForPrepare"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getParametersForPrepareResponse" message="tns:getParametersForPrepareResponse"/>
</operation>
<operation name="setUsingTemplate">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/setUsingTemplateRequest" message="tns:setUsingTemplate"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/setUsingTemplateResponse" message="tns:setUsingTemplateResponse"/>
</operation>
<operation name="relate">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/relateRequest" message="tns:relate"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/relateResponse" message="tns:relateResponse"/>
</operation>
<operation name="getTableRelationship">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getTableRelationshipRequest" message="tns:getTableRelationship"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getTableRelationshipResponse" message="tns:getTableRelationshipResponse"/>
</operation>
<operation name="advancedQuaryHandler">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/advancedQuaryHandlerRequest" message="tns:advancedQuaryHandler"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/advancedQuaryHandlerResponse" message="tns:advancedQuaryHandlerResponse"/>
</operation>
<operation name="getErrors">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getErrorsRequest" message="tns:getErrors"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getErrorsResponse" message="tns:getErrorsResponse"/>
</operation>
<operation name="test2">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/test2Request" message="tns:test2"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/test2Response" message="tns:test2Response"/>
</operation>
<operation name="populateTables">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/populateTablesRequest" message="tns:populateTables"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/populateTablesResponse" message="tns:populateTablesResponse"/>
</operation>
<operation name="getUniqueKeys">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getUniqueKeysRequest" message="tns:getUniqueKeys"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/getUniqueKeysResponse" message="tns:getUniqueKeysResponse"/>
</operation>
<operation name="createTagSource">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/createTagSourceRequest" message="tns:createTagSource"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/createTagSourceResponse" message="tns:createTagSourceResponse"/>
</operation>
<operation name="createuseraccount">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/createuseraccountRequest" message="tns:createuseraccount"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/createuseraccountResponse" message="tns:createuseraccountResponse"/>
</operation>
<operation name="get_servername">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/get_servernameRequest" message="tns:get_servername"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/get_servernameResponse" message="tns:get_servernameResponse"/>
</operation>
<operation name="reset_tags2host">
<input wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/reset_tags2hostRequest" message="tns:reset_tags2host"/>
<output wsam:Action="http://no.ntnu.medisin.webservice/Authenticate_service/reset_tags2hostResponse" message="tns:reset_tags2hostResponse"/>
</operation>
</portType>
<binding name="Authenticate_servicePortBinding" type="tns:Authenticate_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="backup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Encript">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Authenticate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getforQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDoesitExist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFromTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFromTableFrosubqury">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLatestVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUpdateLink">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFileDetials4download">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addRelationships">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="check_authentication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetauthnticationkey">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getfileTypeDescription">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitError">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParametersForPrepare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setUsingTemplate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="relate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTableRelationship">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="advancedQuaryHandler">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getErrors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="test2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="populateTables">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUniqueKeys">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTagSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createuseraccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="get_servername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reset_tags2host">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Authenticate_service">
<port name="Authenticate_servicePort" binding="tns:Authenticate_servicePortBinding">
<soap:address location="http://ans-180230.stolav.ntnu.no:8085/eGenVar_WebService/Authenticate_service"/>
</port>
</service>
</definitions>